@*Copyright (c) 2020 dotfelixb*@
@*See License in the project root for license information.*@
@model IEnumerable<EncyApp.Core.ViewModel.PageMenuViewModel>
@foreach (var s in Model)
{
    <div>
        <a href="@s.Url">
            <div>
                <div>@s.Name</div>
                <div>@s.Description</div>
            </div>
        </a>
    </div>
}