@*
    Copyright (c) 2020 dotfelixb
    See License in the project root for license information.
*@

@inherits LayoutComponentBase

<div class="page_bar">
    <div>Menu</div>
    <div>Search</div>
    <div>User</div>
</div>

@Body