@*
    Copyright (c) 2020 dotfelixb
    See License in the project root for license information.
*@

@inherits LayoutComponentBase

<div class="page_bar">
    <div class="page_bar_menu_item">
        <a href="/">Menu</a>
    </div>
    <div>Search</div>
    <div>User</div>
</div>

@Body