@*
    Copyright (c) 2020 dotfelixb
    See License in the project root for license information.
*@

@using System.Reflection
@using ExtCore.Infrastructure

<Router AppAssembly="@typeof(EncyAppMetadata).Assembly" AdditionalAssemblies="LoadAdditionalAssemblies">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(EncyApp.Core.Pages.Shared.Layout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(EncyApp.Core.Pages.Shared.Layout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
<AntContainer />

@code {
    public IEnumerable<Assembly> LoadAdditionalAssemblies { get; set; }

    protected override void OnInitialized()
    {
        var list = new List<Assembly>();
        foreach (var asm in ExtensionManager.GetInstances<IExtension>())
        {
            if (this.GetType().Assembly != asm.GetType().Assembly)
            {
                list.Add(asm.GetType().Assembly);
            }
        }

        LoadAdditionalAssemblies = list;
    }
}