@*
    Copyright (c) 2020 dotfelixb
    See License in the project root for license information.
*@

@using System.Reflection
@using ExtCore.Infrastructure
@using System.Linq

<Router AppAssembly="@typeof(EncyAppMetadata).Assembly"
        AdditionalAssemblies="LoadAdditionalAssemblies">
    <Found Context="routeData">
        <RouteView RouteData="@routeData"
                   DefaultLayout="@typeof(EncyApp.Core.Pages.Shared.Layout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(EncyApp.Core.Pages.Shared.Layout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
<AntContainer />

@code {
    // Blazor should scan these assembles for route
    public IEnumerable<Assembly> LoadAdditionalAssemblies { get; set; }

    protected override void OnInitialized()
    {
        LoadAdditionalAssemblies = ExtensionManager.GetInstances<IExtension>().Where(asm =>
        {
            return (this.GetType().Assembly != asm.GetType().Assembly);

        }).Select(asm => asm.GetType().Assembly);
    }
}