@*Copyright (c) 2020 dotfelixb*@
@*See License in the project root for license information.*@
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ency App</title>
    @await Component.InvokeAsync("Styles")
</head>
<body>
    <div class="page_header">
        <div class="page_header_side"></div>
        <div class="page_header_center">
            <span>Menu</span>
            <span>Search</span>
            <span>User</span>
        </div>
        <div class="page_header_side"></div>
    </div>
    <div class="page_body">
        @RenderBody()
    </div>
    @await Component.InvokeAsync("Scripts")
</body>
</html>
