@*
    Copyright (c) 2020 dotfelixb
    See License in the project root for license information.
*@

@layout Layout
@page "/asset"

<AppHeader></AppHeader>

<AppBody>
    <AppSidebar title="App" />
    <AppContent>
        <h3>Asset Management</h3>
    </AppContent>
</AppBody>

@code {

}