@*
    Copyright (c) 2020 dotfelixb
    See License in the project root for license information.
*@

@using EncyApp.Core.ViewModel
@using EncyApp.Infrastructure
@using ExtCore.Infrastructure

<div class="page_body_sidebar">
    <div class=""><span class="bold_text">@Title</span></div>
    @if (RenderDefault)
    {
        <br />
        <div>
            @* index page route *@
            <a href="/">
                <div>
                    <div><span>Dashboard</span></div>
                </div>
            </a>
            @foreach (var m in MenuItems)
            {
                <a href="@m.Url">
                    <div>
                        <div><span>@m.Name</span></div>
                    </div>
                </a>
            }
        </div>
    }
    @ChildContent
</div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public bool RenderDefault { get; set; } = true;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public IEnumerable<PageMenuViewModel> MenuItems { get; set; }

    protected override void OnInitialized()
    {
        var ss = new List<PageMenu>();

        foreach (var em in ExtensionManager.GetInstances<IExtensionMetadata>())
        {
            ss.AddRange(em.PageMenuItems);
        }

        var vm = ss.OrderBy(o => o.Position)
            .Select(s => new PageMenuViewModel { Name = s.Name, Description = s.Description, Url = s.Url });

        MenuItems = vm;
    }
}