@*
    Copyright (c) 2020 dotfelixb
    See License in the project root for license information.
*@

@layout Layout
@page "/customer/edit"

<AppHeader></AppHeader>

<AppBody>
    <AppSidebar Title="List Customer" RenderDefault="false">
        <div>
            <a href="/customer">Back</a>
        </div>
    </AppSidebar>
    <AppContent>
        <h3>Edit Customer</h3>
    </AppContent>
</AppBody>

@code {

}