@*
    Copyright (c) 2020 dotfelixb
    See License in the project root for license information.
*@

@layout Layout
@page "/customer/list"

<AppHeader></AppHeader>

<AppBody>
    <AppSidebar Title="List Customer" RenderDefault="false" />
    <AppContent>
        <h3>List Customer</h3>
    </AppContent>
</AppBody>

@code {

}